h2{
  box-sizing: content-box;
  border-bottom-style: ridge;
  text-align: center;
  color:darkred;
  font-style: oblique;
}

.moduleFormular{
  color: black;
  font-family: Georgia, cursive;
  font-style: oblique;


}

.form-group1{

  text-align: center;
  font-weight: bolder;
}
.form-group2{
  justify-content: center;
  text-align: center;
  font-weight: bolder;
}
.form-group3{
justify-content: center;
 text-align: center;
}

button{
  color:black;
  font-weight: bold;
  justify-content: center;
  border-radius: 10%;
  background: #616161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


