<h1>Information about courses , start date and end date ! </h1>
<div *ngFor="let course of courseInstanceList">
  <table>
    <tr class="title">
      <th style="width: 10%">Name</th>
      <th style="width:10%">Description</th>
      <th style="width:50%">Perioud</th>
    </tr>
    <tr>
      <td>
        <h4>
          {{course.courseName}}
        </h4>
      </td>
      <td>
        <h4>
          {{course.courseDescription}}
        </h4>
      </td>
      <td>
      <h4>
        Starting {{course.startDate}}  and Ending  {{course.endDate}}
      </h4>
      </td>¶
    </tr>
  </table>
</div>

<!--  <h4>-->
<!--    <div *ngFor="let user of course.userList">-->
<!--      <h4>-->
<!--        {{user.firstName}}-->
<!--      </h4>-->
<!--      <h4>-->
<!--        {{user.lastName}}-->
<!--      </h4>-->
<!--    </div>-->

<!--  </h4>-->

