<p>return-aplication works!</p>
<div *ngIf="returnApp.accepted, else elseFalse">
  <h2>Dear {{returnApp.userName}} thank you for ur interest. Gladly we response u that u have been
  added to {{returnApp.courseName}} starting in {{returnApp.dateOfApplication}}</h2>
</div>

<ng-template #elseFalse>
  <div>
    <h2> Dear {{returnApp.userName}} unfortunately we let u know ur form was rejected. We hope u dont stop here and keep try.</h2>
  </div>
</ng-template>
