<h1>Please add a new course</h1>

<form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="courseForm">
  <div class="form-group" id="courseName">
    <label>Course name :  in the box bellow ! </label>

    <input type="text" class="form-control" formControlName="name">
  </div>
  <p>Please select modules for the course, from these presented bellow! </p>

  <div *ngFor="let module of moduleList" class="moduleList" >
    <input type="checkbox" (change)="changeState($event,module)">


    <table  class="modules">
      <tr class="title">
        <th style="width:30%">Name</th>
        <th style="width:70%">Description</th>
      </tr>
      <tr>
        <td>
          <h4>
            {{module.name}}
          </h4>
        </td>
        <td>
          <h4>
            {{module.description}}
          </h4>
        </td>
      </tr>
    </table>
 </div>
<p></p>
  <div class="form-groupDescription" >
    <label>Description for the new course to be created:</label>
    <input type="text" class="form-control" formControlName="description">
  </div>
  <div class="form-group"> <!-- Submit button -->
    <button class="btn btn-primary " name="submit" type="submit">Submit</button>
  </div>
</form>
