.courseForm{
  justify-items: center;
  justify-content: flex-end;
  color: black;
  font-family: Georgia;
  font-style: oblique;
}

.moduleList{
  width: 100%;
}



.modules{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  text-align: center;
  margin: fill;
  justify-content: center;
  width: 500px;
  border-collapse: collapse;
}
table, th, td {
  border-style:none;
  /*border: 1px solid;*/
  vertical-align: bottom;


}

body{
  height: 100%;
}

.title{
  height: 50px;
}



.modules{
  font-weight: bold;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

table {
 border-top-left-radius: 20%;

 border-bottom-right-radius: 20%;
  background-image:url("https://jooinn.com/images/abstract-background-284.jpg") ;
  width: 100%;
  align-items: center;
  border-collapse: collapse;
  border-top-style: none;
}
.courseToChoose{
  display: grid;
  column-gap: 50px;
}


body{
  height: 100%;
}

.title{
  height: 10px;
}
h1{
 background-image: inherit;
  font-family: Georgia;
  color: yellowgreen;
}
#courseName{
  color: yellowgreen;
}
p{
  color: yellow;
}
.form-groupDescription{
  color: yellowgreen;
}
h4{
  color: black;
}
th{
  color: darkred;
}
