<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"  >Training Management System </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>

        <li class="nav-item" *ngIf="isNotAdmin(); else course">
        </li>
        <ng-template #course>
          <a class="nav-link active" aria-current="page" routerLink="/app-courses">Course</a>
        </ng-template>

        <li class="nav-item" *ngIf="isNotAdmin(); else module">
        </li>
        <ng-template #module>
          <a class="nav-link active" aria-current="page" routerLink="/module-form">Module form</a>
        </ng-template>

        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>



        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown04" data-bs-toggle="dropdown"
             aria-expanded="false">{{name}}</a>

          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown04">

            <li *ngIf="isNotAdmin(); else courseInstance">

            </li>
            <ng-template #courseInstance>
              <a class="dropdown-item" routerLink="app-course-form">Show course instance</a>
            </ng-template>

            <li *ngIf="isNotAdmin(); else createCourseInstance">
            </li>
            <ng-template #createCourseInstance>
              <a class="dropdown-item" routerLink="admin/courses">Create course instance</a>
            </ng-template>



<!--            <li><a class="dropdown-item" routerLink="/admin/users">Manage users</a></li>-->
            <li><a class="dropdown-item" routerLink="/app-logout">Log out</a></li>
          </ul>
        </li>

      </ul>
      <form>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
