
.dropdown-toggle{
  cursor: pointer;
}

.navbar-brand {
  color:black;
  color:Black;
  font-family: 'Georgia', cursive;
  font-size: large;
  font-style: oblique;
  font-weight: bold;
}
.navbar{

  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}



