p{
  text-align: center;
  color: greenyellow;
  font-family: Georgia,cursive;
  font-style: oblique;
  font-weight: bold;
  font-size: xx-large;
}
table, th, td {
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: large;
  border-bottom: 2px solid black;
  color:black;

}

th{
  color: black;
  font-size: large;
  font-weight: bold;
  font-style: oblique;
  font-family: 'Water Brush', cursive ;
}

.courseBox{
  color: greenyellow;
  border:none;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
table {

  width: 100%;
  /*border-collapse: collapse;*/
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h4{
color:whitesmoke;
}
td{

  text-align-all: justify;
}
title{

  justify-content: center;
}

.form-groupStartDate{
  align-items: center;
  width: -moz-fit-content;
  height: fit-content;
  color: black;
  font-weight: bold;
  font-size: large;
  justify-content: center;

  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-groupEndDate{
  align-items: center;
  width: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  color: black;
  font-weight: bold;
  font-size: large;
  justify-content: center;

  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-groupCourseName{
  color: black;
  font-weight: bold;
  font-size: large;
  align-items: center;
  width: -moz-fit-content;
  height: fit-content;
  background-size: cover;

  justify-content: center;

  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



