<p>Course Instance</p>
<body>
  <form [formGroup]="courseInstanceForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let course of courseList" class="courseBox">
      <mat-checkbox class="checkme" (change)="changeState($event,course)"></mat-checkbox>
      <table>
        <tr class="title">
          <th>Name</th>
          <th style="width:70%">Description</th>
        </tr>
        <tr class="NameDescription">
          <td>
            <h4>
              {{course.name}}
            </h4>
          </td>
          <td>
            <h4>
              {{course.description}}
            </h4>
          </td>

        </tr>
      </table>

    </div>
    <p></p>
    <div class="form-groupStartDate">
      <label>Start Date:</label>
      <input type="date" class="form-control" formControlName="courseStartDate">
    </div>
    <div class="form-groupEndDate">
      <label>End Date:</label>
      <input type="date" class="form-control" formControlName="courseEndDate">
    </div>
    <div class="form-groupCourseName">
      <label>Course name:</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-groupButton"> <!-- Submit button -->
      <button class="btn btn-primary " name="submit" type="submit">Submit</button>
    </div>


  </form>
</body>

