
<link href="login.component.css" rel="stylesheet">
<body class="text-center">

<main class="form-signin">
<!--  <form>-->
    <img class="mb-4"
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2WRKqBbOZCRv6EmPJ0SbbT1m1GcbrJpuqzg&usqp=CAU"
         alt=""
         width="114"
         height="104">

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating" >
     <div> <label for="floatingInput">Username</label></div>
     <input matInput id="floatingInput" [(ngModel)]="userName">

    </div>
  <div><label for="floatingPassword">Password</label></div>
    <div class="form-floating">
      <input matInput type="password" id="floatingPassword" [(ngModel)]="passwordVal">

    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button mat-raised-button class="w-100 btn btn-lg btn-primary" (click)="login()" >Sign in</button>

    <p></p>
    <button class="w-50 btn btn-lg btn-dark" type="submit" routerLink="/registration">Register</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
<!--  </form>-->
</main>



</body>
