<h1>Welcome to user registration!</h1>

<body class="text-left">
<!--<div>-->
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" type="text" formControlName="userName">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="text" formControlName="password">
  </div>
  <div class="form-group">
    <label for="first_name">First name</label>
    <input id="first_name" type="text" formControlName="firstName">
  </div>
  <div class="form-group">
    <label for="last_name">Last name</label>
    <input id="last_name" type="text" formControlName="lastName">
  </div>

<!--  <p>-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>Username</mat-label>-->
<!--      <input matInput formControlName="userName">-->
<!--    </mat-form-field>-->
<!--  </p>-->

  <div class="form-group"> <!-- Submit button -->
    <button class="btn btn-primary " name="submit" type="submit">Submit</button>
  </div>
</form>
<!--</div>-->
</body>
