<bs-navbar></bs-navbar>

<div class="container">
  <div class="bg-light p-60 rounded">
    <router-outlet></router-outlet>
  </div>
</div>


<div class="container">

    <router-outlet></router-outlet>


</div>

