<h3 class="messageTop" *ngIf="auth, else otherWelcome">
  Welcome {{user.firstName}}.
</h3>

<ng-template #otherWelcome>
  <h3>
    Please login or create an account.
  </h3>
</ng-template>

<div class="container">
  <form [formGroup]="aplication">
    <div *ngFor="let course of courseList">
      <table style=width:100%>
        <tr class="title">
          <th>Name</th>
          <th style="width:50%">Description</th>
        </tr>

        <tr>

          <td>
            <h4>
              {{course.name}}
            </h4>
            <input mat-calendar-body type="date" formControlName="dateOfApplication">
            <button class="btn btn-primary " (click)="participate(course.id)">Submit</button>
          </td>


          <td>
            <h4>
              {{course.description}}
            </h4>

          </td>

        </tr>

      </table>
      <p></p>


    </div>
  </form>
</div>



