h3{
  color: greenyellow;
  font-family: Georgia;
  font-style: oblique;
}
table, th, td {
  border: none;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  background-image: url("https://www.schemecolor.com/wallpaper?i=54737&desktop");

}
th{
  border-collapse: collapse;
  color: black;
}

/*.body{*/
/*  !*height: 100%;*!*/
/*  !*float-displace: auto;*!*/

/*}*/
/*.container{*/

/*  height: 100%;*/
/*  background-position: 100%;*/
/*  !*background-repeat: no-repeat;*!*/
/*  background-size: cover;*/
/*  display: inline;*/
/*}*/

/*table {*/
/*  color: white;*/
/*  width: 50px;*/
/*  height: 50px;*/
/*  margin: 0;*/
/*  border:none;*/

/*}*/
h4{

}

.container{
  border-collapse: collapse;
  color: black;
}
.mat-calendar-body{
  background-size: cover;
  text-transform: uppercase;
  background-image: url("https://us.123rf.com/450wm/paisan191/paisan1911910/paisan191191000363/131929057-abstract-paper-is-colorful-background-pastel-color-wallpaper.jpg?ver=6");
  width: 50px;
  height: 20px;
}

.title{
  text-decoration: underline;
  border-collapse: collapse;
}

button{
  min-width:20px;
  min-height: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  text-transform: none;
  letter-spacing: 1.3px;
  font-weight: 900;
  color: black;
  background: rgb(2,0,36);
  background: yellow;

  /*border: none;*/
  border-radius: 20px;
  /*box-shadow: 12px 12px 24px rgba(79,209,197,.64);*/
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


button::before {
  content: '';
  border-radius: 50px;
  min-width: calc(30px + 12px);
  min-height: calc(30px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

button:hover, .button:focus {
  color: #313130;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 10px; height: 10px;
  border-radius: 50%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s ;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  10% {
    width: 100px;
    height: 100px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
.container.courseListBox{
  color: #2b5876;
}



